
    <br><br>
    <form id="regs" method="post" action="/user/login">
        <center><p>Please Sign in by Entering you Email and Password</p></center>
         {{#each errors}}
      <p style="color: red;">{{this}}</p>
      {{/each}}
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="email" id="email" aria-label="email" aria-describedby="emailHelp">
        </div>
       <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div id="error">
          <br>
        <input type = "checkbox" id="clerk" name="clerk" value=true />
        <label>Are You Clerk?</label>
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-primary"/>

    </form><br>