{{!-- Starting point --}}
{{>hero}}
 <div id="top_meal">
      <br>
      <h1><center>Top Menu</center></h1>

      <div id="top_menu_item">

        {{#each meals}}
        {{#if top_meal}}
        {{>mealkit}}  
        {{/if}}
        {{/each}}
      </div>
    </div>


