
    <div id="top_menu">
          <div class="images">
            <img src={{imageUrl}} />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>{{title}}</b>
            <br />
            <button class="price_tag">${{price}}</button>
          </div>
        </div>
          <br>
